
# IDE caches and settings
.vscode/settings.json
.vscode/extensions.json
.idea/workspace.xml
.idea/tasks.xml
.idea/usage.statistics.xml
.idea/dictionaries/
.idea/shelf/
.idea/*.xml
*.iws
*.iml
.DS_Store
.project
.pydevproject
.settings/
.classpath
.c9/
*.launch
.cache/
.parcel-cache
.next/
out/
